@font-face {
  font-family: 'Blenda Script';
  src: url('./fonts/BlendaScript.woff2') format('woff2'),
      url('./fonts/BlendaScript.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  #root, #__next {
    isolation: isolate;
  }

:root {
    --system-ui: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --beige: #F5F5DC;
    --orange: #C65D35;
    --brown: #654321;
    --red: #9E2A2B;
    --yellow: #FFD27F;
    --green: #A4C639;

}

body {
    font-family: "Blenda Script", var(--system-ui);
    background-color: var(--beige);
}

/* Header---------------------------------------------------------- */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  padding: 2em;
  background-color: var(--red);
  border-bottom: 5px solid var(--yellow);
  min-width: 900px;
}

h1.logo {
  flex: 1;
  justify-self: start;
  font-family: "Blenda Script", var(--system-ui);
  color: var(--yellow);
  text-shadow: 4px 4px var(--orange);
  font-size: 3rem;
}

header button {
  font-family: "Blenda Script", var(--system-ui);
  font-size: 2.5rem;
  padding: 0.5em 1em;
  font-size: 2rem;
  outline: none;
  color: var(--yellow);
  background-color: var(--red);
  border-style: none;
  cursor: pointer;
  border: 2px solid var(--red);
  border-radius: 30px;
  margin: 0 1em;
}

header nav {
  flex: 3;
  justify-self: center;
}

header button:hover {
  border: 2px solid var(--yellow);
}

/* Content div------------------------------------------------------- */

#content {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin: 0 auto;
  width: clamp(900px, 75%, 1440px);
  padding: 2em;
  align-items: center;
}

#content li {
  list-style: none;
}

/* Home---------------------------------------------------------- */

/* Intro */
.intro {
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  padding: 1.25em;
  margin-bottom: 2em;
}

#content h1 {
  text-align: center;
  font-size: 3rem;
  color: var(--orange);
}

.text {
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-size: 1.6rem;
  color: var(--brown);
}

.intro img {
  height: 250px;
}

/* Info */

.info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2em;
}

.info img {
  border-radius: 30px;
}

.schedule {
  justify-items: center;
  align-content: center;
  padding: 1.5em;
}

.schedule h2,
.location h2 {
  color: var(--orange);
  font-size: 2rem;
  padding: 0.5em;
}

.schedule ul {
  padding: 0;
}

.schedule ul li {
  color: var(--brown);
  font-weight: 900;
  font-size: 1.5rem;
  padding: 0.25em;
  text-align: center;
}

.location {
  justify-items: center;
  align-content: center;
}

.location p {
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--brown);
}

/* Menu---------------------------------------------------------- */
.menu {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 2em;
}

.menu div {
  padding: 1em;
  border-top: 5px solid var(--yellow);
}

.menu h2 {
  color: var(--orange);
  margin-bottom: 0.75em;
  font-size: 2rem;
}

.menu > div > ul {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  gap: 1em;
}

.menu li {
  color: var(--brown);
  font-size: 1.5rem;
  font-weight: 900;
}

.menu li > p + p {
  color: var(--red);
}

/* Contact-------------------------------------------------------- */

.contact {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 2em;
  justify-items: center;
}

.contact-staff {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1em;
}

.contact-staff > div {
  padding: 1em;
  border: 2px solid var(--orange);
  border-radius: 30px;
}

.contact-staff h2,
.contact-info h2 {
  color: var(--orange);
}

.contact-staff ul {
  padding: 0;
}

.contact-staff > div p {
  font-size: 1.2rem;
  color: var(--brown);
}

.contact-info {
  display: grid;
  grid-template-columns: repeat(2, 400px);
  gap: 2em;
  padding: 1em;
  justify-items: center;
  align-content: center;
}

.contact-info img {
  border-radius: 30px;
}

.contact-info > div {
  padding: 1em;
}

.contact-info p {
  color: var(--brown);
  font-size: 1.2rem;
}

/* Footer-------------------------------------------------------- */

footer {
  background-color: var(--red);
  border-top: 5px solid var(--yellow);
}

footer p {
  padding: 1em;
  text-align: center;
  font-size: 1.5rem;
  color: var(--yellow);
}
